html {
  font-family: "Inter", sans-serif;
}

a[href$=".pdf"]
{
  background:url("assets/file-earmark-pdf-fill.svg") no-repeat left;
  padding-left:25px;
}

.GTDtitle {
  color: white;
  background-color: #E86749;
  padding-bottom: 5px;
  border-radius: 10px;
}

.table-alpha{
  color: white;
  background-color: #E86749;
}

